/* This is a CSS file */
  .return a{
    color: #44AAFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
    width: 100pt;
    height: 100pt;
    font-family: Arial, Meiryo;
  }

  .inputbutton{
    text-align: right;
  }

  .inputtext{
	  width:162px;
    height: 60px;
  }
  .inputname{
    width:162px;
  }


